<link rel="stylesheet" href="../css/style.css"/>
<h1>SEARCH FOR YOUR SQUAD</h1>

<div class="container">
    <form method="GET" action="/players/search">
        <div>
            <label for="search" class="mb-3 mt-3">Search for Player:</label>
            <input id="search" class="" type="text" placeholder="enter query here" name="details"/>
        </div>
    
        <input type="submit" class="btn btn-primary" />
    </form>
</div>