<h1>SEARCH FOR YOUR SQUAD</h1>

<form method="GET" action="/players/search">
    <label for="search">Search for Player:</label>
    <input id="search" type="text" placeholder="enter query here" name="details"/>

    <input type="submit"/>
</form>