<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SquadBuilder</title>
</head>
<body>
  <nav>
      <% if (user) { %>
        <!-- if the user is logged in -->
        <h1>SquadBuilder</h1>
        <a href="/users/yourSquad">Your Squad</a>
        <a href="/users/">See Other Squads</a>
        <a href="/players/">Search For Players</a>
        <a href="/users/logout">Logout</a>
      <% } else { %>
        <!-- if the user is not logged in -->
        <a href="/users/new">Sign Up</a>
        <a href="/users/login">Login</a>
      <% } %>
  </nav>
  
  <main>
    
    <%- body %> 
  </main>
  
</body>
</html>