<% if (msg) { %>
    <div>
        <p><%=msg%></p>
    </div>
<%}%>


<form action="/users" method="POST">
    <label for="teamName">Team Name:</label>
    <input id="teamName" type="teamName" name="teamName" placeholder="enter your Team's Name" required/>

    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="enter your email..." required/>

    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="enter your password" required/>

    <button type="submit">Sign Up!</button>
</form>