
<%userSquad.forEach(player => { %>
    <div>
        <h2><%= player.firstName %> <%= player.lastName %></h2>
        <p><%= player.team%></p>
        <p>Position: <%= player.position%></p>
    </div>
 <% }) %>